In [27]:
import pandas as pd
import numpy as np
from i7_hot_reload.hot_reload import hot_reload_a_module_from_cwd



b_000_env = hot_reload_a_module_from_cwd('b_000_env')

from b_000_env import Directory
from b_000_env import FilePath
from b_000_env import Constants


d = Directory()
fp = FilePath()
c = Constants()

# How many pages shown to each responder

In [2]:
# Read Pages times data (this is cleaned data, already filtered out the non-valid participant.code)

df_pg_t_0 = pd.read_excel(fp.cln_page_times)
print(df_pg_t_0.shape)

df_pg_t_0 = df_pg_t_0.drop_duplicates()

df_pg_t_0.shape

(943, 10)

(943, 10)

In [3]:
df_pg_t_0

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page
0,bqjyt1qj,7,01w754mc,0,NaN,InitializeParticipant,1739473574,1,0,0
1,bqjyt1qj,7,01w754mc,1,Introduction,Introduction,1739473601,1,0,0
2,bqjyt1qj,7,01w754mc,2,Introduction,InstructionsGeneral,1739473703,1,0,0
3,bqjyt1qj,7,01w754mc,3,Introduction,TransitToQuiz,1739473706,1,0,0
4,bqjyt1qj,7,01w754mc,4,Pairwise,PairwiseQuiz,1739473798,1,0,0
...,...,...,...,...,...,...,...,...,...,...
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0
939,1hrelrow,2,zhuavnwm,18,Pairwise_Recon,TransitToPairwiseReconIntro,1739469664,2,0,0
940,1hrelrow,2,zhuavnwm,19,Pairwise_Recon,PairwiseReconIntro,1739469677,2,0,0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0
942,1hrelrow,1,zyt920jv,0,NaN,InitializeParticipant,1739467469,1,0,0

In [5]:
df_cln = pd.read_excel(fp.m3__participant_code_track_map)
df_cln = df_cln[[c.participant_code, c.track_abbreviation]]
df_cln

   participant.code track_abbreviation
0          xjulaqnt                 CL
1          vc2z1rqk                 CL
2          kb6n7gdo                 CL
3          4ehzz2gc                 CL
4          t6jmltim                 CL
5          t8iwxgvj                 CL
6          kofj7rpw                 CL
7          aoajk0ce                 CL
8          lj16m7hw                 CL
9          luinabkm                 CL
10         u1s1r4qg                 CL
11         y2yrzvuq                 CL
12         nzuhrtgu                 CL
13         j1cj2jwe                 CL
14         zyt920jv                 TL
15         zhuavnwm                 TL
16         7192rt4q                 TL
17         8q7a2s1n                 TL
18         b3rz0c6n                 TL
19         o7o5ge7l                 TL
20         o0b80qi0                 TL
21         8cz1ywll                CSU
22         puel5aw2                CSU
23         fdz93yyi                CSU
24         ttx2vzdx                CSU
25         578ix8xp                CSU
26         ksg6x3ax                CSU
27         24ihcolp                CSU
28         687h3r0p                TSU
29         q3w2o0bv                TSU
30         jk5gxlr1                TSU
31         bn3u41tg                TSU
32         fwutfyls                TSU
33         m8zm6qcp                TSU
34         0hzkyp1h                TSU
35         ncccesmo                TSU
36         ppmxwxyq                TSU
37         i5yg889k                TSU
38         og98bp2y                CSI
39         gj8od4cp                CSI
40         bep7qrus                CSI
41         ysbc3f12                CSI
42         01w754mc                CSI
43         lpuwhaxf                CSI
44         nirirf1s                CSI
45         1jhm85o1                CSI
46         lqqwsx7i                TSI
47         25gj04o3                TSI
48         b7p4k8q3                TSI
49         4tfn0in5                TSI
50         rifnl6dq                TSI

In [6]:
df_pg_t_1 = df_pg_t_0[[c.participant_code, c.page_index]]
df_pg_t_2 = df_pg_t_1.merge(df_cln, how='left')
df_pg_t_2

    participant.code  page_index track_abbreviation
0           01w754mc           0                CSI
1           01w754mc           1                CSI
2           01w754mc           2                CSI
3           01w754mc           3                CSI
4           01w754mc           4                CSI
..               ...         ...                ...
938         zhuavnwm          17                 TL
939         zhuavnwm          18                 TL
940         zhuavnwm          19                 TL
941         zhuavnwm          21                 TL
942         zyt920jv           0                 TL

[943 rows x 3 columns]

In [7]:
df_a = df_pg_t_2.groupby(c.participant_code)[['page_index', c.track_abbreviation]].nunique()
df_a

                  page_index  track_abbreviation
participant.code
01w754mc                  23                   1
0hzkyp1h                  17                   1
1jhm85o1                  23                   1
24ihcolp                  22                   1
25gj04o3                  18                   1
4ehzz2gc                  23                   1
4tfn0in5                  18                   1
578ix8xp                  22                   1
687h3r0p                   1                   1
7192rt4q                  18                   1
8cz1ywll                   1                   1
8q7a2s1n                  18                   1
aoajk0ce                  23                   1
b3rz0c6n                  17                   1
b7p4k8q3                  18                   1
bep7qrus                  23                   1
bn3u41tg                  17                   1
fdz93yyi                  22                   1
fwutfyls                  17                   1
gj8od4cp                  23                   1
i5yg889k                  17                   1
j1cj2jwe                  23                   1
jk5gxlr1                  17                   1
kb6n7gdo                  23                   1
kofj7rpw                  21                   1
ksg6x3ax                   4                   1
lj16m7hw                  21                   1
lpuwhaxf                  23                   1
lqqwsx7i                  18                   1
luinabkm                  23                   1
m8zm6qcp                  17                   1
ncccesmo                  17                   1
nirirf1s                  23                   1
nzuhrtgu                  23                   1
o0b80qi0                  18                   1
o7o5ge7l                  18                   1
og98bp2y                  23                   1
ppmxwxyq                  13                   1
puel5aw2                  22                   1
q3w2o0bv                  17                   1
rifnl6dq                  18                   1
t6jmltim                  23                   1
t8iwxgvj                  23                   1
ttx2vzdx                  22                   1
u1s1r4qg                  23                   1
vc2z1rqk                  23                   1
xjulaqnt                   1                   1
y2yrzvuq                  23                   1
ysbc3f12                  23                   1
zhuavnwm                  18                   1
zyt920jv                   1                   1

In [8]:
df_a = df_pg_t_2.groupby(c.participant_code)[['page_index']].nunique()
df_a = df_a.reset_index()
df_a = df_a.merge(df_cln, how='left')
df_a

   participant.code  page_index track_abbreviation
0          01w754mc          23                CSI
1          0hzkyp1h          17                TSU
2          1jhm85o1          23                CSI
3          24ihcolp          22                CSU
4          25gj04o3          18                TSI
5          4ehzz2gc          23                 CL
6          4tfn0in5          18                TSI
7          578ix8xp          22                CSU
8          687h3r0p           1                TSU
9          7192rt4q          18                 TL
10         8cz1ywll           1                CSU
11         8q7a2s1n          18                 TL
12         aoajk0ce          23                 CL
13         b3rz0c6n          17                 TL
14         b7p4k8q3          18                TSI
15         bep7qrus          23                CSI
16         bn3u41tg          17                TSU
17         fdz93yyi          22                CSU
18         fwutfyls          17                TSU
19         gj8od4cp          23                CSI
20         i5yg889k          17                TSU
21         j1cj2jwe          23                 CL
22         jk5gxlr1          17                TSU
23         kb6n7gdo          23                 CL
24         kofj7rpw          21                 CL
25         ksg6x3ax           4                CSU
26         lj16m7hw          21                 CL
27         lpuwhaxf          23                CSI
28         lqqwsx7i          18                TSI
29         luinabkm          23                 CL
30         m8zm6qcp          17                TSU
31         ncccesmo          17                TSU
32         nirirf1s          23                CSI
33         nzuhrtgu          23                 CL
34         o0b80qi0          18                 TL
35         o7o5ge7l          18                 TL
36         og98bp2y          23                CSI
37         ppmxwxyq          13                TSU
38         puel5aw2          22                CSU
39         q3w2o0bv          17                TSU
40         rifnl6dq          18                TSI
41         t6jmltim          23                 CL
42         t8iwxgvj          23                 CL
43         ttx2vzdx          22                CSU
44         u1s1r4qg          23                 CL
45         vc2z1rqk          23                 CL
46         xjulaqnt           1                 CL
47         y2yrzvuq          23                 CL
48         ysbc3f12          23                CSI
49         zhuavnwm          18                 TL
50         zyt920jv           1                 TL

# There are responders who have been showed only 1 page, and one with only 4 pages

In [9]:
df_a = df_a.sort_values(c.page_index)
df_a

   participant.code  page_index track_abbreviation
50         zyt920jv           1                 TL
46         xjulaqnt           1                 CL
10         8cz1ywll           1                CSU
8          687h3r0p           1                TSU
25         ksg6x3ax           4                CSU
37         ppmxwxyq          13                TSU
18         fwutfyls          17                TSU
22         jk5gxlr1          17                TSU
20         i5yg889k          17                TSU
30         m8zm6qcp          17                TSU
16         bn3u41tg          17                TSU
1          0hzkyp1h          17                TSU
13         b3rz0c6n          17                 TL
31         ncccesmo          17                TSU
39         q3w2o0bv          17                TSU
14         b7p4k8q3          18                TSI
40         rifnl6dq          18                TSI
28         lqqwsx7i          18                TSI
4          25gj04o3          18                TSI
49         zhuavnwm          18                 TL
35         o7o5ge7l          18                 TL
6          4tfn0in5          18                TSI
34         o0b80qi0          18                 TL
9          7192rt4q          18                 TL
11         8q7a2s1n          18                 TL
24         kofj7rpw          21                 CL
26         lj16m7hw          21                 CL
3          24ihcolp          22                CSU
43         ttx2vzdx          22                CSU
17         fdz93yyi          22                CSU
7          578ix8xp          22                CSU
38         puel5aw2          22                CSU
5          4ehzz2gc          23                 CL
42         t8iwxgvj          23                 CL
45         vc2z1rqk          23                 CL
47         y2yrzvuq          23                 CL
48         ysbc3f12          23                CSI
41         t6jmltim          23                 CL
44         u1s1r4qg          23                 CL
27         lpuwhaxf          23                CSI
33         nzuhrtgu          23                 CL
32         nirirf1s          23                CSI
29         luinabkm          23                 CL
23         kb6n7gdo          23                 CL
21         j1cj2jwe          23                 CL
19         gj8od4cp          23                CSI
15         bep7qrus          23                CSI
12         aoajk0ce          23                 CL
2          1jhm85o1          23                CSI
36         og98bp2y          23                CSI
0          01w754mc          23                CSI

In [10]:
df_a_1 = df_a[df_a[c.page_index] <= 4]
df_a_1

   participant.code  page_index track_abbreviation
50         zyt920jv           1                 TL
46         xjulaqnt           1                 CL
10         8cz1ywll           1                CSU
8          687h3r0p           1                TSU
25         ksg6x3ax           4                CSU

In [11]:
df_a_1.to_latex(fp.t4__participant_with_few_pages_shown__tex, index=False)
df_a_1

   participant.code  page_index track_abbreviation
50         zyt920jv           1                 TL
46         xjulaqnt           1                 CL
10         8cz1ywll           1                CSU
8          687h3r0p           1                TSU
25         ksg6x3ax           4                CSU

In [12]:
# are they the same people who have didn't have MTurk-ID?

# This is the ID ksg6x3ax that wasn't in the MTurk data but has MTurk ID and got paid

In [13]:
# {'687h3r0p', '8cz1ywll', 'xjulaqnt', 'zyt920jv'} these are the ones who got paid but doesn't have Mturk - ID all of these are in this set of people

In [14]:
# Also the last one the one who got (ksg6x3ax) who is shown only 4 pages doesn't seem to be a valid response.

In [15]:
# create clean pages times 2 data to remove this items from it

In [17]:
df_cln_pg = pd.read_excel(fp.cln_page_times)
df_cln_pg

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page
0,bqjyt1qj,7,01w754mc,0,NaN,InitializeParticipant,1739473574,1,0,0
1,bqjyt1qj,7,01w754mc,1,Introduction,Introduction,1739473601,1,0,0
2,bqjyt1qj,7,01w754mc,2,Introduction,InstructionsGeneral,1739473703,1,0,0
3,bqjyt1qj,7,01w754mc,3,Introduction,TransitToQuiz,1739473706,1,0,0
4,bqjyt1qj,7,01w754mc,4,Pairwise,PairwiseQuiz,1739473798,1,0,0
...,...,...,...,...,...,...,...,...,...,...
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0
939,1hrelrow,2,zhuavnwm,18,Pairwise_Recon,TransitToPairwiseReconIntro,1739469664,2,0,0
940,1hrelrow,2,zhuavnwm,19,Pairwise_Recon,PairwiseReconIntro,1739469677,2,0,0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0
942,1hrelrow,1,zyt920jv,0,NaN,InitializeParticipant,1739467469,1,0,0

In [19]:
msk = ~ df_cln_pg[c.participant_code].isin(df_a_1[c.participant_code])

df_cln_pg_2 = df_cln_pg[msk]
df_cln_pg_2

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page
0,bqjyt1qj,7,01w754mc,0,NaN,InitializeParticipant,1739473574,1,0,0
1,bqjyt1qj,7,01w754mc,1,Introduction,Introduction,1739473601,1,0,0
2,bqjyt1qj,7,01w754mc,2,Introduction,InstructionsGeneral,1739473703,1,0,0
3,bqjyt1qj,7,01w754mc,3,Introduction,TransitToQuiz,1739473706,1,0,0
4,bqjyt1qj,7,01w754mc,4,Pairwise,PairwiseQuiz,1739473798,1,0,0
...,...,...,...,...,...,...,...,...,...,...
937,1hrelrow,2,zhuavnwm,15,Pairwise_Recon,PairwiseReconIntro,1739469402,1,0,0
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0
939,1hrelrow,2,zhuavnwm,18,Pairwise_Recon,TransitToPairwiseReconIntro,1739469664,2,0,0
940,1hrelrow,2,zhuavnwm,19,Pairwise_Recon,PairwiseReconIntro,1739469677,2,0,0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0

In [22]:
df_cln_pg_2.to_excel(fp.m5__cln_page_times_2__xlsx, index=False)

# Are they any missing pages? are there any pages not shown to someone are the page indices continuous?

In [25]:
df_cln_pg_2 = df_cln_pg_2.sort_values(by = [c.participant_code , c.page_index])
df_cln_pg_2

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page
0,bqjyt1qj,7,01w754mc,0,NaN,InitializeParticipant,1739473574,1,0,0
1,bqjyt1qj,7,01w754mc,1,Introduction,Introduction,1739473601,1,0,0
2,bqjyt1qj,7,01w754mc,2,Introduction,InstructionsGeneral,1739473703,1,0,0
3,bqjyt1qj,7,01w754mc,3,Introduction,TransitToQuiz,1739473706,1,0,0
4,bqjyt1qj,7,01w754mc,4,Pairwise,PairwiseQuiz,1739473798,1,0,0
...,...,...,...,...,...,...,...,...,...,...
937,1hrelrow,2,zhuavnwm,15,Pairwise_Recon,PairwiseReconIntro,1739469402,1,0,0
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0
939,1hrelrow,2,zhuavnwm,18,Pairwise_Recon,TransitToPairwiseReconIntro,1739469664,2,0,0
940,1hrelrow,2,zhuavnwm,19,Pairwise_Recon,PairwiseReconIntro,1739469677,2,0,0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0

In [26]:
df_cln_pg_2['diff'] = df_cln_pg_2.groupby(c.participant_code)[c.page_index].diff()
df_cln_pg_2

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page,diff
0,bqjyt1qj,7,01w754mc,0,NaN,InitializeParticipant,1739473574,1,0,0,NaN
1,bqjyt1qj,7,01w754mc,1,Introduction,Introduction,1739473601,1,0,0,1.0
2,bqjyt1qj,7,01w754mc,2,Introduction,InstructionsGeneral,1739473703,1,0,0,1.0
3,bqjyt1qj,7,01w754mc,3,Introduction,TransitToQuiz,1739473706,1,0,0,1.0
4,bqjyt1qj,7,01w754mc,4,Pairwise,PairwiseQuiz,1739473798,1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
937,1hrelrow,2,zhuavnwm,15,Pairwise_Recon,PairwiseReconIntro,1739469402,1,0,0,1.0
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0,2.0
939,1hrelrow,2,zhuavnwm,18,Pairwise_Recon,TransitToPairwiseReconIntro,1739469664,2,0,0,1.0
940,1hrelrow,2,zhuavnwm,19,Pairwise_Recon,PairwiseReconIntro,1739469677,2,0,0,1.0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0,2.0

In [28]:
msk = ~ df_cln_pg_2['diff'].isin([np.nan, 1])
df_1 = df_cln_pg_2[msk]
df_1

,session_code,participant_id_in_session,participant.code,page_index,app_name,page_name,epoch_time_completed,round_number,timeout_happened,is_wait_page,diff
5,bqjyt1qj,7,01w754mc,6,Pairwise,TransitToPairwiseInstructions,1739473800,1,0,0,2.0
8,bqjyt1qj,7,01w754mc,12,Pairwise,PairwiseInstructions,1739474069,2,0,0,4.0
19,bqjyt1qj,7,01w754mc,28,Nodewise_Recon,TransitToNodewiseReconInstructions,1739474885,1,0,0,6.0
28,re51ltna,7,0hzkyp1h,6,Pairwise,TransitToPairwiseInstructions,1739474150,1,0,0,2.0
31,re51ltna,7,0hzkyp1h,11,Pairwise,TransitToPairwiseInstructions,1739474309,2,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
909,bqjyt1qj,5,ysbc3f12,12,Pairwise,PairwiseInstructions,1739471479,2,0,0,4.0
920,bqjyt1qj,5,ysbc3f12,28,Nodewise_Recon,TransitToNodewiseReconInstructions,1739471705,1,0,0,6.0
933,1hrelrow,2,zhuavnwm,11,Pairwise,TransitToPairwiseInstructions,1739469249,2,0,0,3.0
938,1hrelrow,2,zhuavnwm,17,Pairwise_Recon,PairwiseTransRecon,1739469661,1,0,0,2.0
941,1hrelrow,2,zhuavnwm,21,Pairwise_Recon,PairwiseTransRecon,1739469974,2,0,0,2.0