In [44]:
import pandas as pd
from i7_hot_reload.hot_reload import hot_reload_a_module_from_cwd


b_000_env = hot_reload_a_module_from_cwd('b_000_env')

from b_000_env import Directory
from b_000_env import FilePath
from b_000_env import Constants


d = Directory()
fp = FilePath()
c = Constants()

import warnings


warnings.filterwarnings("ignore")

- Create the payments table
- Create the payments figs distrubution
- Write up the report & finalize it today

In [7]:
df_cln = pd.read_excel(fp.m3__participant_code_track_map)
df_cln

,participant.code,participant.sni_treatment,participant.track,participant.payoff,Introduction.1.player.MTurk_ID,track,track_abbreviation
0,xjulaqnt,Large,Comparison,3.20,NaN,Comparison Large,CL
1,vc2z1rqk,Large,Comparison,3.20,A2XFO0X6RCS98M,Comparison Large,CL
2,kb6n7gdo,Large,Comparison,3.20,A1A86H96OJ6PI8,Comparison Large,CL
3,4ehzz2gc,Large,Comparison,3.20,A2EM7RPFW3DU9N,Comparison Large,CL
4,t6jmltim,Large,Comparison,3.20,A3VFKBRFHGVF0G,Comparison Large,CL
5,t8iwxgvj,Large,Comparison,3.20,A1LII4M7CS6C9I,Comparison Large,CL
6,kofj7rpw,Large,Comparison,3.20,A1TXCO12MCTP8P,Comparison Large,CL
7,aoajk0ce,Large,Comparison,3.20,A5XQ30GQTHHK6,Comparison Large,CL
8,lj16m7hw,Large,Comparison,3.20,A1X9RXT7MI571,Comparison Large,CL
9,luinabkm,Large,Comparison,3.20,A2GMCWY993EEYE,Comparison Large,CL
10,u1s1r4qg,Large,Comparison,3.20,A114W7WQSH1UK8,Comparison Large,CL
11,y2yrzvuq,Large,Comparison,3.20,AXDISUCRP4FPO,Comparison Large,CL
12,nzuhrtgu,Large,Comparison,3.20,A1BHINLXH3E2GJ,Comparison Large,CL
13,j1cj2jwe,Large,Comparison,3.20,AO71E3MTYDM8L,Comparison Large,CL
14,zyt920jv,Large,Transitivity,3.20,NaN,Tranisitivity Large,TL
15,zhuavnwm,Large,Transitivity,3.20,A2JJIYN79SQWT7,Tranisitivity Large,TL
16,7192rt4q,Large,Transitivity,3.20,A2BABL5AHUOYC7,Tranisitivity Large,TL
17,8q7a2s1n,Large,Transitivity,3.20,A12YGHUPJN155L,Tranisitivity Large,TL
18,b3rz0c6n,Large,Transitivity,3.20,A34670P3YNB95Z,Tranisitivity Large,TL
19,o7o5ge7l,Large,Transitivity,3.20,A2YO837C0O1E91,Tranisitivity Large,TL
20,o0b80qi0,Large,Transitivity,3.20,A38OPVI04AH4JG,Tranisitivity Large,TL
21,8cz1ywll,SmallNonincentivized,Comparison,1.60,NaN,Comparison Small Unincentivized,CSU
22,puel5aw2,SmallNonincentivized,Comparison,1.60,A15GDVKMYRUPRC,Comparison Small Unincentivized,CSU
23,fdz93yyi,SmallNonincentivized,Comparison,1.60,A20VH0U95N7M0T,Comparison Small Unincentivized,CSU
24,ttx2vzdx,SmallNonincentivized,Comparison,1.60,A3T9WZOUQGE2UW,Comparison Small Unincentivized,CSU
25,578ix8xp,SmallNonincentivized,Comparison,1.60,A399GYOD60WD7M,Comparison Small Unincentivized,CSU
26,ksg6x3ax,SmallNonincentivized,Comparison,1.60,ALT6TQMZJKSFQ,Comparison Small Unincentivized,CSU
27,24ihcolp,SmallNonincentivized,Comparison,1.60,A3AY0315YWWNXY,Comparison Small Unincentivized,CSU
28,687h3r0p,SmallNonincentivized,Transitivity,1.60,NaN,Transitivity Small Unincentivized,TSU
29,q3w2o0bv,SmallNonincentivized,Transitivity,1.60,A1AB1BMULT9JLE,Transitivity Small Unincentivized,TSU
30,jk5gxlr1,SmallNonincentivized,Transitivity,1.60,A14M3AB1V6GHH2,Transitivity Small Unincentivized,TSU
31,bn3u41tg,SmallNonincentivized,Transitivity,1.60,AL9JUMMNJRNRF,Transitivity Small Unincentivized,TSU
32,fwutfyls,SmallNonincentivized,Transitivity,1.60,A2TTPULEGF8963,Transitivity Small Unincentivized,TSU
33,m8zm6qcp,SmallNonincentivized,Transitivity,1.60,A1VCEN5IM1GQGZ,Transitivity Small Unincentivized,TSU
34,0hzkyp1h,SmallNonincentivized,Transitivity,1.60,A8YS9CR6LM7Y9,Transitivity Small Unincentivized,TSU
35,ncccesmo,SmallNonincentivized,Transitivity,1.60,A3E0NS3NXEZTUO,Transitivity Small Unincentivized,TSU
36,ppmxwxyq,SmallNonincentivized,Transitivity,1.60,A1EX655HLB0NS4,Transitivity Small Unincentivized,TSU
37,i5yg889k,SmallNonincentivized,Transitivity,1.60,A6KB4VHCZYTY2,Transitivity Small Unincentivized,TSU
38,og98bp2y,SmallIncentivized,Comparison,3.20,A3CMWYLWMENHLZ,Comparison Small Incentivized,CSI
39,gj8od4cp,SmallIncentivized,Comparison,7.20,A2FB5UQTR3E0NX,Comparison Small Incentivized,CSI
40,bep7qrus,SmallIncentivized,Comparison,7.20,A3K1JTEB70E4FV,Comparison Small Incentivized,CSI
41,ysbc3f12,SmallIncentivized,Comparison,1.60,A1O4W7F05T6HY0,Comparison Small Incentivized,CSI
42,01w754mc,SmallIncentivized,Comparison,7.20,A37SLQRKOALNV6,Comparison Small Incentivized,CSI
43,lpuwhaxf,SmallIncentivized,Comparison,3.20,A36470UBRH28GO,Comparison Small Incentivized,CSI
44,nirirf1s,SmallIncentivized,Comparison,3.20,A3TDPXTB6Y6H1I,Comparison Small Incentivized,CSI
45,1jhm85o1,SmallIncentivized,Comparison,7.20,A3HSONMX6LNZR4,Comparison Small Incentivized,CSI
46,lqqwsx7i,SmallIncentivized,Transitivity,2.55,A34EHWOYRBL6OZ,Transitivity Small Incentivized,TSI
47,25gj04o3,SmallIncentivized,Transitivity,2.75,A2FFMN0E9IUKQ6,Transitivity Small Incentivized,TSI
48,b7p4k8q3,SmallIncentivized,Transitivity,2.35,A1K4NWMRGD2VE0,Transitivity Small Incentivized,TSI
49,4tfn0in5,SmallIncentivized,Transitivity,2.55,A2E6Z6NDAES26P,Transitivity Small Incentivized,TSI
50,rifnl6dq,SmallIncentivized,Transitivity,2.25,ADKJBYY9Q3VNZ,Transitivity Small Incentivized,TSI

In [32]:
df_all = df_cln[c.participant_payoff].describe().to_frame().T
df_all

                    count      mean       std  min  25%  50%  75%  max
participant.payoff   51.0  2.879412  1.466362  1.6  1.6  3.2  3.2  7.2

In [34]:
df_all['Total'] = df_cln[c.participant_payoff].sum()
df_all

                    count      mean       std  min  25%  50%  75%  max   Total
participant.payoff   51.0  2.879412  1.466362  1.6  1.6  3.2  3.2  7.2  146.85

In [35]:
df_by_track = df_cln.groupby(c.track_abbreviation)[
    c.participant_payoff].describe()
df_by_track

                    count  mean           std   min   25%   50%   75%   max
track_abbreviation
CL                   14.0  3.20  4.608532e-16  3.20  3.20  3.20  3.20  3.20
CSI                   8.0  5.00  2.409505e+00  1.60  3.20  5.20  7.20  7.20
CSU                   7.0  1.60  2.398356e-16  1.60  1.60  1.60  1.60  1.60
TL                    7.0  3.20  4.796712e-16  3.20  3.20  3.20  3.20  3.20
TSI                   5.0  2.49  1.949359e-01  2.25  2.35  2.55  2.55  2.75
TSU                  10.0  1.60  0.000000e+00  1.60  1.60  1.60  1.60  1.60

In [37]:
df_cln.groupby(c.track_abbreviation)[
    c.participant_payoff].sum()

track_abbreviation
CL     44.80
CSI    40.00
CSU    11.20
TL     22.40
TSI    12.45
TSU    16.00
Name: participant.payoff, dtype: float64

In [38]:
df_by_track['Total'] = df_cln.groupby(c.track_abbreviation)[
    c.participant_payoff].sum()
df_by_track

,count,mean,std,min,25%,50%,75%,max,Total
track_abbreviation,,,,,,,,,
CL,14.0,3.20,4.608532e-16,3.20,3.20,3.20,3.20,3.20,44.80
CSI,8.0,5.00,2.409505e+00,1.60,3.20,5.20,7.20,7.20,40.00
CSU,7.0,1.60,2.398356e-16,1.60,1.60,1.60,1.60,1.60,11.20
TL,7.0,3.20,4.796712e-16,3.20,3.20,3.20,3.20,3.20,22.40
TSI,5.0,2.49,1.949359e-01,2.25,2.35,2.55,2.55,2.75,12.45
TSU,10.0,1.60,0.000000e+00,1.60,1.60,1.60,1.60,1.60,16.00

In [39]:
df_table = pd.concat([df_by_track , df_all])
df_table

,count,mean,std,min,25%,50%,75%,max,Total
CL,14.0,3.200000,4.608532e-16,3.20,3.20,3.20,3.20,3.20,44.80
CSI,8.0,5.000000,2.409505e+00,1.60,3.20,5.20,7.20,7.20,40.00
CSU,7.0,1.600000,2.398356e-16,1.60,1.60,1.60,1.60,1.60,11.20
TL,7.0,3.200000,4.796712e-16,3.20,3.20,3.20,3.20,3.20,22.40
TSI,5.0,2.490000,1.949359e-01,2.25,2.35,2.55,2.55,2.75,12.45
TSU,10.0,1.600000,0.000000e+00,1.60,1.60,1.60,1.60,1.60,16.00
participant.payoff,51.0,2.879412,1.466362e+00,1.60,1.60,3.20,3.20,7.20,146.85

In [40]:
df_table['count'] = df_table['count'].astype('Int8')
df_table

,count,mean,std,min,25%,50%,75%,max,Total
CL,14,3.200000,4.608532e-16,3.20,3.20,3.20,3.20,3.20,44.80
CSI,8,5.000000,2.409505e+00,1.60,3.20,5.20,7.20,7.20,40.00
CSU,7,1.600000,2.398356e-16,1.60,1.60,1.60,1.60,1.60,11.20
TL,7,3.200000,4.796712e-16,3.20,3.20,3.20,3.20,3.20,22.40
TSI,5,2.490000,1.949359e-01,2.25,2.35,2.55,2.55,2.75,12.45
TSU,10,1.600000,0.000000e+00,1.60,1.60,1.60,1.60,1.60,16.00
participant.payoff,51,2.879412,1.466362e+00,1.60,1.60,3.20,3.20,7.20,146.85

In [41]:
df_table['mean'] = df_table['mean'].round(2)
df_table['std'] = df_table['std'].round(2)
df_table

                    count  mean   std   min   25%   50%   75%   max   Total
CL                     14  3.20  0.00  3.20  3.20  3.20  3.20  3.20   44.80
CSI                     8  5.00  2.41  1.60  3.20  5.20  7.20  7.20   40.00
CSU                     7  1.60  0.00  1.60  1.60  1.60  1.60  1.60   11.20
TL                      7  3.20  0.00  3.20  3.20  3.20  3.20  3.20   22.40
TSI                     5  2.49  0.19  2.25  2.35  2.55  2.55  2.75   12.45
TSU                    10  1.60  0.00  1.60  1.60  1.60  1.60  1.60   16.00
participant.payoff     51  2.88  1.47  1.60  1.60  3.20  3.20  7.20  146.85

In [46]:
df_table.to_excel(fp.t2__payments__xlsx)

In [47]:
df_table.to_latex(fp.t3__payments__tex)